body {padding:10px; text-align:center; font-family:Verdana, Arial, sans-serif;}
#container {margin:0 auto; width:70%; min-width:500px; text-align:left;}
@media screen and (max-width:800px) {
    #container {width:90%; min-width:initial;}
}