.found,
.not-found {
	
	font-size: 200%;
	padding: 4px;
                color:#fff;
}

.found {
	float:right;
	background-color: green;
}

.found a {
	text-decoration: underline;
	color: #fff;
	font-size: 100%;
}
.not-found {position: absolute;
	z-index: 1000;
	right: 0;
	background:red;}
.ebookcheck-summary, #pager-check {font-size:200%; text-align: center;margin-bottom:1em;}